.header {
    /* display: flex; */
    padding-inline: 6.25rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding-block: 1rem;
  }
  
  .header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    /* column-gap: 1rem; */
  }
  
  .header .header-box-l {
    display: flex;
    flex: 1;
  }
  
  .header .header-box-r {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  
    ul {
      display: flex;
      column-gap: 2rem;
    }
  
  }
  